<h1>Welcome to Music App!!</h1>
<br>
<%= auth_token %>

<%= current_user.email %>
<br>
<br>

<a href="/bands">See all the Bands!</a>
<a href="/bands/new">Create a Band!</a>
<a href="<%=edit_user_url(current_user)%>" > Edit User! </a>



<br>
<br>